@import "../../scss/mixins";

h2 {
  font-size: 3rem;

  @include phone {
    font-size: 2rem;
  }
}

.counter {
  background: #ffde03;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter__text {
  font-size: 2.5rem;
  font-family: "Arial Black", sans-serif;
}


:global {
  button {
    min-width: 4rem;
    min-height: 4rem;
    background: #E91E63;
    border: none;
    margin: 1rem;
    color: white;
    font-size: 2rem;
    line-height: 1.5;
    cursor: pointer;
  }
}