@import '../scss/breakpoints';
.clock {
    font-size: 10rem;
    color: #ffde03;
    text-align: center;

    @include phone {
        font-size: 5rem;
        .seconds {
            display: none;
        }
    }
}
