@import 'scss/variables';
@import "scss/mixins";

.App {
  background-color: $lightModeBackgroundColor;
  color: $textColorLightMode;

  @include dark-mode {
    background-color: $darkModeBackgroundColor;
    color: $textColorDarkMode;
  }

  min-height: 100vh;
  min-width: 100%;

  &-env {
    text-align: right;
  }

  &-logo {
    pointer-events: none;
    position: absolute;
    top: 23%;
    left: -15rem;
    height: 20rem;
    opacity: 0.6;
    animation: logo-spin infinite 10s linear;

    @include phone {
      top: 15%;
    }
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem;
    flex-direction: row-reverse;

    @include phone {
      flex-direction: column;
      align-items: center;
    }
  }
}

.clock-wrapper.centre-align {
  position: relative;
  height: calc(100vh - 50px);

  .clock {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}