// You must prefix imports from node_modules with ~ .
$bg-color: #6200EE;
$clock-text-color:  #ffde03;
$white: white;

$darkModeBackgroundColor: #363537;
$textColorDarkMode: #FAFAFA;
$borderColorDarkMode: #6B8096;

$lightModeBackgroundColor: #E2E2E2;
$textColorLightMode: #363537;
$borderColorLightMode: #FFF;